*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #f5f5f5;
}

#app{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#restaos{
    height: 100vh;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/*pretty select*/
.select {
    position: relative;
    display: inline-block;
    width: 90%;
    height: 40px;
    line-height: 40px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    margin: 10px auto;
}

#map{
    width: 100%;
    height: 100vh;
}

#chat{
    height: 100vh;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#messages{
    overflow-y: auto;
}

#messages li:nth-child(odd){
    background: #ffffff;
}

li{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
}

li span {
    font-size: 12px;
}
form {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px;
}

form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.hidden {
    display: none;
}
#popin {
/* poppin in the center of the screen */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    padding: 1rem;
    z-index: 999999999;
    width: 25vw;
    height: 75vh;
}
form#userForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
input[type="number"] {
    width: 7vw;
    height: 2rem;
    margin-bottom: 1rem;
}
/* close popin at order last */
#closePopin {
    order: 9;
}

form button {
    border-radius: 5px;
    padding: 5px;
    border: none;
    background: #005eff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

button:hover {
    box-shadow: 0 0 5px 1px #005eff;
    transform: translate(0, -2px);
    cursor: pointer;
}

button img{
    filter: brightness(0) invert(1);
    width: 20px;
}

